.works-holder .play-video::after{left:34%;}
.works-holder .play-video{width:80%;}
.header{z-index:16 !important;}
.doctor_work{cursor:pointer;}
.loader{background:#e9eef2 none repeat scroll 0 0;color:#01767c;display:block;overflow:hidden;padding:23px 0 19px;text-align:center;text-decoration:none;text-transform:uppercase;}
.loader span{display:block;margin:0 auto;width:38px;height:38px;background:url("../images/bg-loading.png") no-repeat;}
.place_work p{position:relative !important;top:0px !important;}
/*.box-driving-directions{font-size:16px;line-height:1.5;overflow:hidden;}
.box-driving-directions .col1{float:left;padding:0 29px 0 0;width:68.3%;}
.box-driving-directions .col2{float:left;width:31.5%;}
.box-driving-directions .col2 p{margin:0 0 24px;}
.box-driving-directions .col-holder{background:#f3f3f3 none repeat scroll 0 0;padding:29px 20px 6px;position:relative;}
.box-driving-directions .ttl{color:#eaeaea;display:block;font:bold 48px/72px "Play",Arial,Helvetica,sans-serif;padding:0 130px 0 0;text-align:right;}
.box-driving-directions .col1 .ttl{background:rgba(0, 0, 0, 0) url("../images/icon10.jpg") no-repeat 100% 0}
.box-driving-directions .col2 .ttl{background:rgba(0, 0, 0, 0) url("../images/icon9.jpg") no-repeat 100% 0}
.box-driving-directions h3{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;border:medium none;color:#01767c;font:bold 22px "Play",Arial,Helvetica,sans-serif;margin:0 0 7px;text-transform:none;}
.box-driving-directions h3 span{font-weight:normal;padding:0;background:none}
.box-driving-directions p{margin:;}
.print-driving-directions{background:rgba(0, 0, 0, 0) url("../images/icon-print-driving-directions.png") no-repeat scroll 0 0;height:34px;position:absolute;right:34px;top:15px;width:54px;z-index:6;}
.box-driving-directions .note{background:rgba(0, 0, 0, 0) url("../images/icon-note.png") no-repeat scroll 50% 32px;color:#b80300;font-size:18px;line-height:1.4;overflow:hidden;padding:118px 0 0;text-align:center;}
.address-clinic{margin:0 0 25px;overflow:hidden;}
.address-clinic .col1{float:left;padding:0 29px 0 0;width:68.3%;}
.address-clinic .col2{float:left;width:31.5%;}
.address-clinic dl{line-height:1.4;margin:0 0 15px;}
.address-clinic .phone{display:block;color:#b80300;}
.address-clinic dt{border-top:1px solid #dbdcdd;font-size:16px;font-weight:bold;overflow:hidden;padding:22px 0 1px;}
.address-clinic dt:first-child{border:medium none;padding:7px 0 1px;}
.address-clinic img{display:block;width:100%;height:auto;}
.address-clinic dd{padding:0 0 7px;}
.address-clinic dl em{font-size:16px;}
.address-clinic .col1 img{width:100%;height:auto;display:block;}*/
.works-holder{overflow:hidden;padding:9px 0 0;}
.box-work .ttl{color:#000000;display:block;font:bold 20px/1 "Play",Arial,Helvetica,sans-serif;margin:0 0 20px;padding:0 67px;text-align:center;text-transform:uppercase;}
.box-work{background:#f3f3f3 none repeat scroll 0 0;margin:0 0 63px;padding:21px 0 0;position:relative;}
.box-work::after{background:#f3f3f3 none repeat scroll 0 0;content:"";height:1px;left:0;overflow:hidden;position:absolute;right:0;top:-30px;}
.loader{background:#e9eef2 none repeat scroll 0 0;color:#01767c;display:block;overflow:hidden;padding:23px 0 19px;text-align:center;text-decoration:none;text-transform:uppercase;}
.loader span{display:block;margin:0 auto;width:38px;height:38px;background:url("../images/bg-loading.png") no-repeat;}
.pop-up-work{background:#fff none repeat scroll 0 0;border-radius:0 0 20px 20px;left:50%;margin:0 0 0 -500px;padding:0 0 36px;position:fixed;top:5%;width:1000px;z-index:1100;}
.pop-up-work .ttl::before{background:none !important;height:0px !important;}
.box-work-content p{margin:0 !important;}
.pop-up-work .box-work{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;margin:0;padding:0;}
.pop-up-work .box-work::after{display:none;}
.pop-up-work .box-work .ttl{margin:0;padding:21px 0;background:#f3f3f3;}
.pop-up-work .box-work-content .col-text{padding:0;}
.pop-up-work .box-work-img{padding:6px 0 0;}
.btn-enroll{background:rgba(0, 0, 0, 0) url("../images/btn-enroll.png") no-repeat scroll 0 0;display:block;font:15px/55px "Play", Arial, Helvetica, sans-serif;padding:0 0 16px;text-align:center;text-decoration:none;text-transform:uppercase;width:99%;float:right;margin:0 auto 10px;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;background-size:100% 100%;color:#fff;}
.btn-enroll a{display:block;text-decoration:none;color:#ffffff;}
.btn-enroll a:hover{
	text-decoration: underline;
}
.pop-up-work .box-work-content{background:#fff none repeat scroll 0 0;border-radius:0 0 20px 20px;padding:37px 35px 0;}
.work-gallery{position:relative;}
.work-gallery{position:relative;}
.work-gallery ul{float:left;margin:0;padding:0;width:99999px;}
.work-gallery li{background:rgba(0, 0, 0, 0) none repeat scroll 0 0;float:left;margin:0;padding:0;width:1000px;}
.work-gallery .btn-prev, .work-gallery .btn-next{border-radius:50%;height:61px;left:-30px;margin:-30px 0 0;position:absolute;top:50%;width:61px;background:#01767c;}
.work-gallery .btn-prev::after, .work-gallery .btn-next::after{background:rgba(0, 0, 0, 0) url("../images/btn-gallery.png") no-repeat scroll 0 0;bottom:0;content:"";height:27px;left:50%;margin:-14px 0 0 -9px;position:absolute;right:0;top:50%;width:17px;z-index:3;}
.work-gallery .btn-next{left:auto;right:-30px;}
.work-gallery .btn-next::after{background-position:-42px 0}
.error{color:#b80300;position:relative;top:-8px;font-size:15px;}
.form-call-me2 .error{
	position: relative;
	top:5px;
}
.preloader{background:url("../images/preloader.gif") 50% 50% no-repeat #fff !important;opacity:0.3;position:absolute;top:0px;left:0px;z-index:10000;width:100%;}
.phone a{text-decoration:none;}
.pop-up-work .box-work-content .btn {
	max-width: 280px;
	padding: 7px 0;
}
.happening-description {

}
.work-happening-description {
	overflow: hidden;
	height: 37px;
}
.row-work-happening-description {
	overflow: hidden;
	text-align: center;
}
.btn-open-happening-description {
	color: #279da3;
	text-decoration: underline;
}
.btn-open-happening-description:hover {
	text-decoration: none;
}
.pop-up-work .btn-bw {
	margin-bottom: 0 !important;
}
@media screen and (max-width:1100px){
	.pop-up-work{margin:0 0 0 -400px;width:800px;}
	.pop-up-work .box-work .ttl {
		padding: 8px 5px;
		font-size: 14px;
	}
	.pop-up-work .box-work-content .btn {
		padding: 5px 0;
	}
	.box-work .ttl{font-size:16px;padding: 0;}
	.work-gallery-holder, .work-gallery li{width:auto;}
	.box-work-content .col-text{overflow:visible;}
	.btn-enroll{-moz-background-size:inherit;-webkit-background-size:inherit;background-size:inherit;width:305px;margin:0 auto;float:none;}
	.box-work-content dl,
	.box-work-content dd{overflow:visible;}
}
@media screen and (max-width:800px){
	.pop-up-work{margin:0 0 0 -360px;width:720px;}
}
@media screen and (max-width:720px){.pop-up-work{margin:0 0 0 -340px;width:680px;}
	.pop-up-work .box-work-content {
		height: 445px;
		overflow: auto;
		padding: 20px 25px 0;
	}
.pop-up-work .box-work-content img{width:100% !important;margin:0 0 10px;height:auto !important;}
.pop-up-work .box-work-img{width:100%;float:none;}
.btn-enroll{-moz-background-size:100% 100%;-webkit-background-size:100% 100%;background-size:100% 100%;width:90%;margin:0 auto;font-size:14px;}
.mobile_view{
		display: block;
	}
	.no-mobile{
		display: none !important;
	}
}
@media screen and (max-width:720px){
	.pop-up-work{margin:0 0 0 -180px;width:360px;}
}
@media screen and (max-width:420px){
	.pop-up-work{margin:0 0 0 -140px;width:290px;}
	.btn-enroll{-moz-background-size:cover;-webkit-background-size:cover;background-size:cover;height:52px;line-height:43px;font-size:11px;margin:0 auto;width:230px;}
}
.stop{position:relative;}