
@import 'cabinet/base/variables-chuild';
@import 'addtooldstyle';
.pb {
	@import 'cabinet/base/variables-chuild';
	@import 'cabinet/base/forms-chuild';
	@import 'cabinet/base/buttons-chuild';
	@import 'cabinet/pay';

	@include res(m){
		.header-banner__title {
			line-height: 1.5;
		}
	}

	@include res(s){
		.teledent-triggers__left {
			display: block;
		}
		.teledent-trigger-head {
			display: flex;
		}
	}
}
.content ::selection {
	border: 1px solid $pink;
}

@import 'cabinet/video-chat';
@import 'cabinet/cabinet';
@import 'cabinet/meeting';
@import 'cabinet/stage-order';
@import 'banner/banner';
@import 'cabinet/teez';


.swiper-inner {
	padding: 15px 0 45px;
	margin: 0 auto;
	max-width: 800px;

	&-full {
		max-width: inherit;
	}
}

/* fix btn s-doctor-portfolio */
.s-doctor-portfolio .btn-center {
	padding-top: 35px;

	@include res(l){
		padding-top: 25px;
	}
}

/* fix faq for inner page */
.pb .oc-faq {
	max-width: 100%;
}
.oc-faq .title_faq {
	font-size: 26px;
	margin: 35px 0 20px;
	text-transform: none;
}
.pb .oc-faq-inner-page .border-drops--list .border-drop__header::before {
	display: none !important;
}
.pb .oc-faq-inner-page .border-drops--list .border-drop__header {
	padding-left: 25px;
}
.pb .oc-faq-inner-page .price-include {
	padding-left: 25px !important;
}
/*// fix faq for inner page */


.xdsoft_datetimepicker {
	padding: 0 !important;
}
.xdsoft_datetimepicker .xdsoft_datepicker {

}

.pb .sub-menu-doctor__info small {
	white-space: normal;
}

.form-row:after {
	clear: both;
	content: "";
	display: block;
}



.pb .license-slider .swiper-slide {
	width: auto;
	flex-shrink: 2;
}
.pb .license-slider .swiper-slide img {
	height: 250px;
	width: auto;
	margin: 0 auto;
}
.pb .license-block__header {
	transition: all 0.3s ease;
}


.pb .license-block:hover .license-block__header {
	border: 5px solid #72dbd4;
}

.pb .full-banner-video__right {
	position: relative;
}
.pb .full-banner-video__frame .play-btn {
	font-size: 5px !important;
	position: absolute !important;
	left: 50% !important;
	margin-left: -5em !important;
}
@media (max-width: 680px) {
	.pb .full-banner-video__frame {
		padding-left: 0 !important;
	}
}

.review-thanks-selfi .review-thanks__text p {
	margin: 0 0 13px;
}


/* fix gallery in page doctor */
.pb .swiper-wrapper {
	height: auto;
}
.pb .revnew-nav-item__wrap {
	height: auto;
}







.order-view,
.pb .order-view{


	padding-top: 60px;
	padding-bottom: 50px;
	position: relative;
	z-index: 1;

	&-status {
		&-text {

		}
		&--urgent {
			color: red;
		}
		&--normal {
			color: green;
		}
	}

	h1 {
		font-size: 45px;

		@include res(m) {
			font-size: 30px;
		}
	}


	.meeting-register__status {
		width: 22px;
		height: 22px;
	}

	h2 {
		font-size: 36px;
		margin-bottom: 25px;

		@include res(m) {
			font-size: 30px;
		}
	}

	h3 {
		margin-bottom: 20px;
		font-size: 28px;

		@include res(m) {
			font-size: 24px;
		}

	}


	&-info {
		margin-bottom: 30px;

		&-list {
			border-collapse: collapse;

			&__title {
				text-align: left;
				padding: 3px 15px 3px 0;
			}

			&__text {
				padding: 3px 15px 3px 0;
			}

			&__date {
				padding: 3px 15px 3px 0;
			}
		}
	}

}





.n-table {
	width: 100%;
	border-collapse: collapse;
	background: #e6eff6;
	line-height: 1.4;
	font-size: 16px;
	border: 1px solid #239ca3;
	margin: 0 0 40px;

	@include res(m) {
		margin:  0 0 25px;
	}

	tr {
		transition: all 0.6s ease;
	}

	tr:hover {
		background:#c3edf4
	}

	&__th {
		text-align:left;
		background:#239ca3;
		padding:8px 10px;
		font-weight:700;
		font-size:16px;
		color:#fff;
		vertical-align:middle;
		box-shadow:0 0 2px -1px #e6eff6 inset
	}

	&__td {
		padding:11px 9px;
		text-align:left;
		vertical-align:middle;
		box-shadow:0 0 2px -1px #239ca3 inset
	}

	&__number {
		width: 50px;
		text-align: center;
	}

	tfoot td  {
		font-weight: 700;
		font-size: 16px;
	}
}



.order-info-patient {
	&__td {
		width: 50%;
	}
}



.order-table-schema {
	margin-bottom: 30px;
	width: 100%;
	font-size: 15px;
	border-collapse: collapse;
	border: 1px solid #239ca3;
	border-right: none;
	border-bottom: none;

	&__td {
		padding: 5px 6px;
		width: 6.25%;
		text-align: center;

		border-right: 1px solid #239ca3;
		border-bottom: 1px solid #239ca3;
	}

	&__angle,
	&__size{
		font-size: 13px;
		display: block;
	}

	&__size {

	}

	&__zub {
		background: #239ca3;
		color: #fff;
		font-size: 16px;
		border-bottom: 1px solid #fff;
		border-right: 1px solid #fff;
		font-weight: 700;
	}

	&__td:nth-child(8) {
		border-right-width: 3px;
	}
}






















