.button {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	padding: 15px 30px;
	font-family: $font;
	line-height: 1.3;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.2s ease;
	user-select: none;
	background: linear-gradient(to bottom, #f85e76, #e12e5e);
	border: 1px solid #ee496b;
	box-shadow:  0 3px 0 0 #b0244a;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	text-shadow: 0 1px 1px #9c1d40;
	border-radius: 30px;
	-webkit-tap-highlight-color: transparent;

	@include res(l){
		font-size: 16px;
		padding: 13px 20px 11px;
	}
	@include res(xs){
		font-size: 14px;
	}

	&:focus {
		background: linear-gradient(to bottom, #f85e76, #e12e5e);
		outline: none;
	}

	&:hover{
		background: linear-gradient(to bottom, #f85e76, #e12e5e);
		box-shadow:  0 5px 0 0 #b0244a;
		transform: translate3d(0,-2px,0);
	}

	&:active{
		background: linear-gradient(to bottom, #f85e76, #e12e5e);
		box-shadow:  0 1px 0 0 #b0244a;
		transform: translate3d(0,2px,0);
	}

	.i{
		font-size: 14px;
		margin-left: 20px;
	}

	&--medium{
		padding: 11px 20px;
		font-size: 16px;

		.i{
			margin-left: 5px;
		}
	}

	&--small{
		padding: 8px 15px;
		font-size: 14px;

		.i{
			margin-left: 5px;
		}
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}


.button--outline{
	border: 1px solid $pink;
	box-shadow: none;
	background: transparent;
	color: $pink;
	font-weight: normal;
	text-shadow: none;
	text-transform: none;

	&:focus {
		background: $pink;
		outline: none;
		transform: none;
		border-color: $pink;
		color: #FFF;
	}

	&:hover{
		background: $pink;
		box-shadow: none;
		transform: none;
		border-color: $pink;
		color: #FFF;
	}

	&:active{
		background: $pink;
		border-color: $pink;
		color: #FFF;
		box-shadow: none;
		transform: none;
	}
}


//play-btn
.play-btn{
	font-size: 4px;
	display: block;
	position: relative;
	width: 10em;
	height: 10em;
	background: $pink;
	border-radius: 2em;
	transform: rotate(45deg);
	border: none;
	transition: background 0.3s ease;
	cursor: pointer;

	&:hover,&:focus{
		outline: none;
		background: $green;

		&:before{
			border-color: $green;
		}
	}

	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 2em 0 2em 3em;
		border-color: transparent transparent transparent #ffffff;
		border-radius: 0.5em;
		transform: rotate(-45deg) translate(0.5em,0);
	}

	&:before{
		content: '';
		position: absolute;
		top: -1.2em;
		left: -1.2em;
		right: -1.2em;
		bottom: -1.2em;
		border: 1px solid $pink;
		border-radius: 2.5em;
		transition: border 0.3s ease;
	}

	&--medium{
		font-size: 5px;
		@include res(xs){
			//font-size: 4px;
		}
	}

	&--big{
		font-size: 7px;
		@include res(xs){
			font-size: 4px;
		}
	}
}
//play-btn


//big-gray-btn
.big-gray-btn{
	display: flex;
	align-items: center;
	color: $pink;
	font-size: 18px;
	text-align: center;
	justify-content: center;
	padding: 15px 30px;
	background: $gray-bg;
	border-radius: 20px;
	cursor: pointer;
	user-select: none;
	transition: all 0.3s ease;
	border: none;

	&:hover{
		background: #d2dbe2;
	}

	&:focus{
		outline: none;
		background: #d2dbe2;
	}

	img{
		margin-right: 10px;
	}
}
//big-gray-btn

.center-btn{
	text-align: center;
	padding-top: 25px;
}