fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.input-text {
	&--medium{
		padding: 13px 20px;
		font-size: 16px;

		&::placeholder {
			font-size: 16px;

			@include res(l){
				font-size: 15px;
			}
		}
	}

	&--small{
		padding: 11px 15px;
		font-size: 15px;

		&::placeholder {
			font-size: 15px;

			@include res(l){
				font-size: 15px;
			}
		}
	}
}

.vertical-form{

	&-middle {
		display: flex;
		justify-content: center;
	}
}

.textarea {
	display: inline-block;
	font-family: $font;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
	-webkit-appearance: none;
	border: 1px solid #cedae1;
	background: #fff;
	border-radius: 28px;
	padding: 15px 25px;
	overflow: visible;
	margin: 0 0 10px;
	width: 100%;

	@include res(l){
		font-size: 16px;
		padding: 12px 20px;
	}

	&--round{
		border-radius: 28px;
	}

	&::placeholder {
		font-size: 18px;
		line-height: 1.3;
		color: $gray-text;
		font-style: italic;
		opacity: 1;
		transition: opacity 0.3s ease;

		@include res(l){
			font-size: 16px;
		}
	}

	&:focus {
		border: 1px solid $green-dark;
		box-shadow: $shadow-block, 0 0 0 1px $green-dark;
		outline: none;

		&::placeholder {
			opacity: 0.4;
		}
	}

	&--medium{
		padding: 13px 20px;
		font-size: 16px;

		&::placeholder {
			font-size: 16px;

			@include res(l){
				font-size: 15px;
			}
		}
	}

}

.vertical-form .textarea {
	margin-bottom: 10px;
	width: 100%;
}



