/* start cabinet */
fieldset {
	margin: 0;
	padding: 0;
	border: none;
}
.cabinet {
	padding-top: 35px;
	padding-bottom: 50px;

	&-form-search {
		padding-bottom: 10px;

		.form-row {
			padding-bottom: 10px;
		}

		.form__label {
			float: left;
			width: 165px;
			font-size: 21px;
			padding: 4px 0;
		}

		.input-text {
			float: left;
			width: 350px;
			margin: 0 15px 0 0;
		}

		.button {
			float: left;
			width: 180px;
		}
	}
}
.vertical-form-wrapper {
	display: flex;
	min-height: 500px;
	align-items: center;
	-webkit-box-pack: center;

	.vertical-form {
		margin: 0 auto;
		max-width: 480px;
		width: 100%;
	}
}

.form {

	&__label {
		display: block;
		font-size: 24px;
		padding: 0 20px 7px;
	}

	&__select {
		display: inline-block;
		font-family: "PF DinDisplay Pro", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.3;
		border: 1px solid #cedae1;
		background: #FFF;
		border-radius: 28px;
		padding: 15px 25px;
		overflow: visible;
		margin: 0 0 10px;
		width: 100%;
	}

	&-row {

		&__date {
			padding-right: 50px;
			position: relative;

			.input-text {
				width:180px;
				margin-right: 15px;
				float: left;
				text-align: center;
			}
		}

		&:after {
			clear: both;
			display: block;
			content: "";
		}

		&-button {
			padding-top: 30px;
		}
	}
}

/* meeting-register */


.meeting-register {

	&__meeting {
		display: block;
		border-radius: 8px;
		padding: 4px 10px;
		margin: 0 10px;
		color: #fff;

		&-held {
			background: $green;
			color: #000;
		}

		&-canceled {
			background: $pink;
		}
	}

	&__table {
		width: 100%;
		border-collapse: collapse;
		background: $gray-bg;
		line-height: 1.3;
		font-size: 17px;
		border: 1px solid $green-dark;

	}

	&__th {
		text-align: left;
		background: $green-dark;
		padding: 8px 15px;
		color: #fff;

		&-date {
			width: 160px;
		}

		&-status {
			width: 180px;
			text-align: center;
		}
	}

	&__td {
		padding: 14px 15px;
		text-align: left;
		font-size: 18px;

		&-status {
			text-align: center;
		}

	}

	tr {

		&:nth-child(2n) {
			background: $green-bg;
		}

		&:hover {
			background: darken($green-bg, 10%);
		}
	}
}
.ui-datepicker-trigger {
	width: 45px;
	height: 45px;
	float: left;
	border: none;
	background: url("../img/icons/calendar.svg") 50% 50% no-repeat;
	cursor: pointer;
	margin: 5px 0 0;
	padding: 0;
	text-indent: -999px;
	overflow: hidden;
}
/* end cabinet */




///******/
.select-custom-wrapper {
	position: relative;
	margin-bottom: 10px;
	z-index: 1;

	&:after {
		content: "";
		position: absolute;
		right: 12px;
		z-index: 5;
		top: 50%;
		margin: -3px 0 0;

		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 8px solid $gray-text;
	}

	&-active {

		.select-custom-text {
			border: 1px solid $green-dark;
			box-shadow: $shadow-block, 0 0 0 1px $green-dark;
			outline: none;
		}
	}
}
.select-custom {
	display: inline-block;
	font-family: "PF DinDisplay Pro", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.3;
	-webkit-appearance: none;
	border: 1px solid #cedae1;
	background: #fff;
	border-radius: 28px;
	padding: 15px 25px;
	overflow: visible;
	margin: 0;

	option {
		padding: 6px 4px;
	}

	&-text {
		position: relative;
		z-index: 2;
		padding: 15px 25px;
		display: block;
		background: #fff;
		border-radius: 28px;
		border: 1px solid #cedae1;

		font-family: "PF DinDisplay Pro", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
		font-size: 18px;
		font-weight: 300;
		line-height: 1.3;
	}

	&--medium{
		padding: 11px 25px 11px 10px;
		font-size: 16px;

		option {
			padding: 5px 25px 5px 10px;
		}
	}

	&--small{
		padding: 8px 13px;
		font-size: 14px;

		option {
			padding: 5px 3px;

		}
	}
}
.chat-messaging {
	position: relative;
}


.chat-messaging-nav {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	width: auto;

	&-col {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
		padding: 0 10px 15px;

		@include res(s){
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			padding: 0 10px 5px;
		}
	}

	&__label {
		padding: 0 0 5px 13px;
		margin: 0;
		display: inline-block;
		font-size: 18px;
	}

	.select-custom {
		width: 100%;
		display: block;
		clear: both;
	}

}



.chat-msg_history {
	font-size: 14px;
	margin: 0 -5px;
}
.talk-bubble{
	font-size: 17px;
	margin: 0 0 10px;
}
.headertext {
	font-size: 14px;
}


.talk-bubble .talktext {
	border-radius: 5px;
	padding: 3px 8px;
	background: #72dbd4;
}

.self_talk {

}
.tri-right {
	margin-left: 35px;
}
.tri-left {
	margin-right: 35px;
}
.right-top {

}



















