//s-doctors-title
.s-doctors-title{
	text-align: center;
	padding-top: 70px;
	@include res(l){
		padding-top: 40px;
	}
}
//s-doctors-title


//promo-banner-prize
.promo-banner-prize{
	min-height: auto;
	@include res(s){
		flex-direction: row;
	}
}

.promo-banner-prize__imgwrap{
	width: 33%;
	padding: 0 15px;
	text-align: center;
	align-self: flex-start;
	@include res(l){
		width: 115px;
		flex-shrink: 0;
	}
	@include res(xs){
		width: 60px;
		padding: 0 5px 0 0;
	}
}

.promo-banner-prize__img{
	max-width: 100%;
	height: auto;
}

.promo-banner-prize__content{
	position: relative;
	z-index: 2;
	padding: 30px 30px 30px 0;
	@include res(l){

	}
	@include res(xs){
		padding: 15px 15px 20px 0;
	}

	.h2{
		margin-bottom: 0.3em;
	}
}

.promo-banner-prize__text{
	font-size: 22px;
	line-height: 1.2;
	@include res(l){
		font-size: 18px;
	}
	@include res(xs){
		font-size: 16px;
	}
}

.promo-banner-prize__btn{
	margin-top: 25px;
	width: 250px;
	max-width: 100%;
	@include res(xs){
		width: 200px;
		margin-top: 15px;
	}
}
//promo-banner-prize


//doctor-preview
.s-doctors{
	.doctor-preview{
		margin-bottom: 30px;
	}

	.promo-banner{
		margin-bottom: 30px;
	}
}

.doctor-preview{
	display: block;
	background: #FFF;
	border-radius: 20px;
	box-shadow: $shadow-block;
	overflow: hidden;
}

.doctor-preview__content{
	padding: 25px 30px 10px 30px;
	@include res(m){
		padding: 15px 15px 10px 15px;
	}
}

.doctor-preview__name{
	margin-bottom: 0.5em;
}

.doctor-preview__descr{
	color: $gray-text;
	font-size: 18px;
	line-height: 1.2;
	min-height: 2.4em;
	margin-bottom: 10px;
	@include res(xs){
		font-size: 16px;
	}
}

.doctor-preview__actions{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.doctor-preview__xp{
	display: inline-block;
	border-radius: 15px;
	background: $green;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	padding: 2px 10px;
}

.doctor-preview__photo{
	background: url("../img/doctors/preview-bg.jpg") center top no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 320px;

	img{
		display: block;
		flex-shrink: 0;
		max-width: 90%;
		height: auto;
	}
}
//doctor-preview