/* start page pay */

.form-pay {

	.form__label {
		text-align: center;
	}

	.textarea {
		height: 130px;
	}

	.amount.input-text {
		width: 210px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		text-align: center;
	}


	max-width: 360px;
	margin: 0 auto;

	@include res(l){
		margin-right: auto;
		margin-left: auto;
	}

	#alfa-payment-button {
		text-align: center;
		margin: 0 0 25px;
	}
	.alfa-payment__message {
		padding: 10px 0;
	}
	.alfa-payment__button {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		padding: 15px 30px;
		font-family: $font;
		line-height: 1.3;
		text-decoration: none;
		text-align: center;
		white-space: nowrap;
		cursor: pointer;
		transition: all 0.2s ease;
		user-select: none;
		background: linear-gradient(to bottom, #f85e76, #e12e5e);
		border: 1px solid #ee496b;
		box-shadow:  0 3px 0 0 #b0244a;
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.08em;
		text-shadow: 0 1px 1px #9c1d40;
		border-radius: 30px;
		-webkit-tap-highlight-color: transparent;
		min-height: inherit;
		margin-top: 10px;

		padding: 11px 20px;
		font-size: 16px;

		@include res(l){
			font-size: 16px;
			padding: 13px 20px 11px;
			width: 100%;
		}
		@include res(xs){
			font-size: 14px;
		}

		&:focus {
			background: linear-gradient(to bottom, #f85e76, #e12e5e);
			outline: none;
		}

		&:hover{
			background: linear-gradient(to bottom, #f85e76, #e12e5e);
			box-shadow:  0 5px 0 0 #b0244a;
			transform: translate3d(0,-2px,0);
		}

		&:active{
			background: linear-gradient(to bottom, #f85e76, #e12e5e);
			box-shadow:  0 1px 0 0 #b0244a;
			transform: translate3d(0,2px,0);
		}

		&--medium{
			padding: 11px 20px;
			font-size: 16px;

		}

		&--small{
			padding: 8px 15px;
			font-size: 14px;

		}
	}


}



.card-list {

	max-width: 800px;
	margin: 0 auto;
	padding: 20px 0 10px;

	&-row {
		align-items: center;
	}

	img {
		margin: 0 auto 25px;
		display: block;
		max-width: 180px;
	}
}


.form {
	&__label {
		display: block;
		font-size: 23px;
		padding: 0 20px 7px;

		@include res(l){
			font-size: 20px;
			padding: 0 15px 7px;
		}
		@include res(xs){

		}
	}
}
