//price-details-header
.price-details-header{
	margin-bottom: 40px;
}

.price-details-header__title{
	margin-bottom: 0.3em;
}

.price-details-header__shout{
	background: $gray-bg;
	border-radius: 20px;
	padding: 10px 25px;
	margin-bottom: 20px;
	@include res(xs){
		padding: 10px;
		border-radius: 10px;
		font-size: 16px;
		font-weight: normal;
	}
}

.price-details-header__descr{
	font-size: 18px;
	@include res(xs){
		font-size: 16px;
	}
}
//price-details-header


//garant-banner
.price-details-banner{
	margin-bottom: 60px;
	@include res(s){
		margin-bottom: 40px;
	}
}

.garant-banner{
	display: flex;
	justify-content: flex-end;
	border-radius: 15px;
	overflow: hidden;
	background: url("../img/price/garant-banner.jpg") center top no-repeat #f6f7f9;
	background-size: cover;
	@include res(m){
		padding-bottom: 300px;
		background-position: left bottom;
		background-size: auto 300px;
	}
	@include res(xs){
		padding-bottom: 200px;
		background-size: auto 200px;
	}
}

.garant-banner__content{
	width: 50%;
	flex-shrink: 0;
	padding: 25px;
	font-size: 18px;
	@include res(xl){
		font-size: 16px;
	}
	@include res(m){
		width: 100%;
	}
	@include res(xs){
		padding: 15px;
	}
}

.garant-banner__title{
	font-size: 36px;
	@include res(xl){
		font-size: 32px;
	}
	@include res(l){
		font-size: 30px;
	}
	@include res(s){
		font-size: 24px;
	}
}
//garant-banner


//price-details-main
.price-details-main{
	margin-bottom: 60px;
	@include res(s){
		margin-bottom: 40px;
	}
}

.price-details-main__title{
	margin-bottom: 0.5em;
}

.price-include{
	padding: 0 50px 15px 50px;
	@include res(m){
		padding: 0 40px 15px 40px;
	}
}

.price-include__main{
	@include res(m){
		font-size: 14px;
		margin-bottom: 15px;
	}
}

.price-include__aside{
	color: $gray-text;
}

.price-include__price{
	display: block;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.2;
	margin-bottom: 6px;
}

.price-include__note{
	font-size: 14px;
	padding-top: 10px;
	line-height: 1.4;
}
//price-details-main

.price-details-promo{
	margin-bottom: 60px;
	@include res(s){
		margin-bottom: 40px;
	}
}


//price-details-after
.price-details-after-sec{
	margin-bottom: 60px;
	@include res(s){
		margin-bottom: 40px;
	}
}

.price-details-after{
	padding: 30px 40px;
	background: transparent;
	box-shadow: none;
	transition: box-shadow 0.2s ease;
	@include res(xl){
		padding: 30px 25px;
	}

	&:hover{
		background: $bg-color;
		box-shadow: $shadow-block-big;

		&:before{
			opacity: 1;
		}
	}

	&:before{
		opacity: 0;
		transition: opacity 0.3s ease;
	}

	.h3{
		margin-bottom: 15px;
	}
}

.price-details-after__icon{
	height: 60px;
	margin-bottom: 10px;
	@include res(l){
		height: 30px;
	}

	img{
		max-height: 100%;
		width: auto;
	}
}
//price-details-after


//price-faq
.price-faq{
	margin-bottom: 60px;
	@include res(s){
		margin-bottom: 40px;
	}

	.consult-block{
		margin-top: 40px;
	}
}
//price-faq


//price-faq-slider
.price-faq-slider{

}

.price-faq-slider__top{}

.price-faq-slider__main{

}

.price-faq-slider__main-item{

	.video-screen{
		box-shadow: $shadow-block;
	}
}

.price-faq-slider__consult{
	display: flex;
	@include res(m){
		order: -1;
		margin-bottom: 20px;
		justify-content: center;
	}
}

.consult-bordered-block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include res(xl){
		padding: 15px 20px;
	}

	.h3{
		margin-bottom: 1em;
		text-align: center;
		@include res(xl){
			margin-bottom: 15px;
		}
	}

	ul{
		margin-bottom: 20px;
		@include res(xl){
			margin-bottom: 15px;
		}
	}

	.button{
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		@include res(xl){
			padding: 10px 5px;
			font-size: 14px;
		}
	}
}

.price-faq-slider-thumbs{
	margin-top: 20px;
	margin-left: -$gutter;
	margin-right: -$gutter;
}

.price-faq-slider-thumb{
	width: calc(100% / 3);
	padding: 0 $gutter;
	@include res(s){
		width: calc(100% / 2);
	}

	.play-btn{
		@include res(s){
			font-size: 2px;
		}
	}
}
//price-faq-slider


//price-faq-right-nav
.price-faq-right-nav{

	.video-screen{
		margin-bottom: 20px;
	}
}

.price-faq-right-nav__nav{
	@include res(m){
		order: -1;
	}
}

.price-faq-right-nav__item{
	display: none;

	&.active{
		display: block;
	}
}

.video-nav-blocks{
	padding-left: 20px;
	@include res(m){
		display: flex;
		overflow: auto;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	.video-nav-block{
		margin-bottom: 20px;
		@include res(m){
			margin-bottom: 0;
			margin-right: 25px;
			min-width: 200px;
		}

		&:last-child{
			margin-bottom: 0;
		}
	}
}

.video-nav-block{
	display: flex;
	align-items: center;
	position: relative;
	background: #FFF;
	padding: 10px 10px 10px 40px;
	border-radius: 10px;
	cursor: pointer;
	min-height: 60px;
	transition: box-shadow 0.3s ease;
	@include res(s){
		padding: 5px 10px 5px 40px;
	}

	span{
		display: block;
		line-height: 1.3;
		font-size: 16px;
		transition: color 0.3s ease;
		@include res(m){
			font-size: 14px;
		}
	}

	&:hover{
		span{
			color: $pink;
		}
	}

	&.active{
		box-shadow: $shadow-block;
		span{
			color: $pink;
		}
	}
}

.video-nav-block__btn{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: -15px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 46px;
	height: 46px;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #FFF;
		transform: rotate(45deg);
		border-radius: 10px;
	}

	.play-btn{
		font-size: 3px;
	}
}
//price-faq-right-nav


//price-video-drops
.price-video-drops{
	padding-left: 15px;

	.price-video-drop{
		margin-bottom: 10px;
	}

	.video-screen{
		@include res(m){
			margin-bottom: 20px;
		}
	}

	.user-content{
		@include res(s){
			font-size: 14px;
		}
	}
}

.price-video-drop{

	&.opened{
		.price-video-drop__header{
			color: $pink;

			&:after{
				transform: rotate(180deg) translate(0,50%);
			}
		}
	}
}

.price-video-drop__header{
	display: flex;
	align-items: center;
	position: relative;
	background: #FFF;
	padding: 10px 60px 10px 40px;
	border-radius: 10px;
	cursor: pointer;
	min-height: 60px;
	transition: box-shadow 0.3s ease;
	box-shadow: $shadow-block;
	@include res(s){
		padding-right: 40px;
	}

	span{
		display: block;
		line-height: 1.2;
		font-size: 20px;
		transition: color 0.3s ease;
		@include res(s){
			font-size: 16px;
		}
	}

	&:hover{
		span{
			color: $pink;
		}
	}

	&:after{
		display: block;
		content: '\e901';
		font-family: $font-icon;
		position: absolute;
		top: 50%;
		right: 25px;
		font-size: 18px;
		color: $pink;
		transform: translate(0,-50%);
		transition: color 0.3s ease;
		@include res(s){
			font-size: 14px;
			right: 15px;
		}
	}

	&:hover{
		&:after{
			color: $green-dark;
		}
	}
}

.price-video-drop__play{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: -15px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 46px;
	height: 46px;

	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #FFF;
		transform: rotate(45deg);
		border-radius: 10px;
	}

	.play-btn{
		font-size: 3px;
	}
}

.price-video-drop__content{
	display: none;
	padding: 25px 0;
}
//price-video-drops