//layout
.s-price{
	padding: 60px 0;
	@include res(l){
		padding: 40px 0;
	}

	.container{
		display: flex;
		align-items: stretch;
		@include res(l){
			flex-direction: column;
			align-items: center;
		}
	}
}

.s-price__main{
	flex: 1;
	margin-right: 30px;
	height: 4000px;
	@include res(l){
		margin-bottom: 40px;
		margin-right: 0;
	}
}

.s-price__aside{
	width: 300px;
	flex-shrink: 0;
}

.aside-sticky{
	position: sticky;
	top: 70px;
}
//layout


//aside-triggers
.aside-triggers{

}

.aside-triggers__img{
	display: block;
	margin-bottom: 2px;

	img{
		display: block;
		width: 100%;
		height: auto;
	}
}

.aside-triggers__top{
	background: linear-gradient(to bottom, rgba(253,253,254,1) 0%,rgba(241,244,246,1) 100%);
	text-align: center;
	padding: 10px 10px 15px 10px;

	strong{
		display: block;
		font-weight: bold;
		font-size: 16px;
		line-height: 1.6;
		text-transform: uppercase;

		span{
			font-size: 20px;
			text-transform: uppercase;
			color: $pink;
		}
	}

	em{
		display: block;
		font-size: 14px;
		margin-bottom: 8px;
	}
}

.aside-triggers-item{
	display: flex;
	align-items: center;
	background: linear-gradient(to bottom, rgba(253,253,254,1) 0%,rgba(241,244,246,1) 100%);
	padding: 14px 5px 14px 12px;
	font-size: 14px;
	line-height: 1.3;
	font-weight: bold;

	strong{
		font-size: 15px;
		display: block;
		color: $green-dark;
		text-decoration: underline;
	}

	&:hover{
		strong{
			text-decoration: none;
		}
	}
}

.aside-triggers-item__img{
	width: 30px;
	height: 30px;
	flex-shrink: 0;
	text-align: center;
	margin-right: 12px;

	img{
		max-width: 100%;
		max-height: 100%;
	}
}
//aside-triggers


//price-header
.price-header{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
	@include res(l){
		flex-direction: column;
	}
}

.price-header__actions{
	margin-left: auto;
	text-align: center;
	@include res(l){
		width: 100%;
		margin-top: 10px;
	}

	.button{
		margin: 10px 0 10px 10px;
		@include res(l){
			font-size: 12px;
			padding: 8px 12px;
			margin: 0 4px 4px 4px;
		}
	}
}

.price-header-descr{
	font-size: 18px;
	max-width: 600px;
	@include res(l){
		font-size: 16px;
	}
}
//price-header