//s-review-thanks
.s-review-thanks{
	background: url("../img/bg-rombs.png") center top no-repeat;
	background-size: 100% auto;
	padding: 80px 0;
	@include res(m){
		padding: 50px 0;
	}
}

.review-thanks{
	.photo-stack-slider__wrapper{
		@include res(m){
			margin-top: 25px;
			max-width: 515px;
		}
	}
}

.review-thanks__title{
	font-size: 36px;
	font-style: italic;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 0.4em;
	@include res(xl){
		font-size: 30px;
	}
	@include res(l){
		font-size: 24px;
	}
	@include res(s){
		font-size: 20px;
	}
}

.review-thanks__text{
	@include res(s){
		font-size: 14px;
	}
}

.photo-stack-slider__wrapper{
	background: $bg-color;
	position: relative;
	margin: 0 50px;
	@include res(l){
		margin: 0 30px;
	}
	@include res(m){
		margin: 0 10px;
	}

	&:after,&:before{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		border-radius: 20px;
		box-shadow: $shadow-block;
		background: $bg-color;
	}

	&:before{
		z-index: -1;
		left: 10px;
		right: 10px;
		transform: translate(0,5px);
	}
	&:after{
		z-index: -2;
		left: 20px;
		right: 20px;
		transform: translate(0,10px);
	}
}

.photo-stack-slider{
	border-radius: 20px;
	box-shadow: $shadow-block-big;
}

.photo-stack-slider__slide{

	img{
		display: block;
		width: 100%;
		height: auto;
	}
}
//s-review-thanks