.consult-block{
	position: relative;
	overflow: hidden;
	border-radius: 20px;
	display: flex;
	box-shadow: $shadow-block-big;
	background: linear-gradient(to right, #39e3ec, #279da3);
	color: #FFF;
	padding-right: 40px;
	@include res(l){
		padding-right: 20px;
	}
	@include res(m){
		background: linear-gradient(to right, #34ced6, #279da3);
		flex-direction: column;
		align-items: flex-start;
		padding: 20px;
		text-align: center;
	}

	&:before{
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		background: url("../img/home/consult-squares.png") right center no-repeat;
		pointer-events: none;
		z-index: 0;
	}
}

.consult-block__img{
	position: relative;
	z-index: 2;
	align-self: flex-end;
	width: 30%;
	flex-shrink: 0;
	text-align: center;
	@include res(m){
		display: none;
	}

	img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		height: auto;
	}
}

.consult-block__center{
	position: relative;
	z-index: 2;
	padding: 20px;
	width: 500px;
	flex-shrink: 1;
	@include res(m){
		width: 100%;
		padding: 0;
		margin-bottom: 20px;
	}

	.h2{
		margin-bottom: 0.3em;
		@include res(l){
			font-size: 26px;
		}
	}
}

.consult-block__descr{
	font-size: 22px;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 20px;
	@include res(l){
		font-size: 18px;
	}
}

.consult-block__btn{
	flex-shrink: 0;
	position: relative;
	z-index: 2;
	margin-left: auto;
	align-self: center;
	@include res(m){
		align-self: center;
		margin-left: initial;
	}
}

.consult-block__phone{
	display: inline-block;
	vertical-align: top;
	margin-right: 30px;
	@include res(m){
		margin: 0 15px;
	}

	&:last-child{
		margin-right: 0;
		@include res(m){
			margin: 0 15px;
		}
	}

	small{
		display: block;
		color: $black;
		font-size: 18px;
	}

	a{
		font-weight: bold;
		font-size: 24px;
		white-space: nowrap;
	}
}

.consult-block__name{
	color: $black;
	font-size: 18px;
}

.consult-block__content{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@include res(m){
		display: block;
	}
}

.consult-block--mini{
	align-items: center;
	padding-right: 15px;

	.consult-block__center{
		flex: 1;
		width: auto;
	}

	.consult-block__descr{
		font-size: 20px;
		margin-bottom: 0;
		@include res(xl){
			font-size: 18px;
		}
	}

	.consult-block__btn{
		margin-left: auto;
		@include res(xl){
			padding: 10px;
			font-size: 14px;
		}
	}
}