.s-footer-socials{
	padding: 30px 0;

	.container{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@include res(s){
			flex-direction: column;
			align-items: center;
		}
	}
}

.footer-prizes{
	display: flex;
	align-items: center;
	@include res(s){
		margin-bottom: 20px;
	}
}

.footer-przies__item{
	display: flex;
	align-items: center;
	max-width: 280px;
	margin-right: 30px;
	@include res(s){
		margin: 0 15px;
	}

	img{
		flex-shrink: 0;
	}

	span{
		padding-left: 10px;
		font-size: 14px;
		line-height: 1.3;
		@include res(l){
			display: none;
		}
	}
}