.s-main-nav{
	height: 56px;
	user-select: none;
	@include res(l){
		display: none;
	}
}

.main-nav{
	position: relative;
	z-index: 50;

	&.fixed{
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
	}
}

.main-nav__panel{
	position: relative;
	z-index: 2;
	background: linear-gradient(to bottom, $bg-color, #dbf7fc);
	box-shadow: 0 10px 15px 0 rgba(0,0,0,0.1);

	&:after{
		content: '';
		border-bottom: 1px solid #dcdcdc;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}
}

.main-nav__services{
	position: absolute;
	z-index: 1;
}

.main-nav__nav{
	display: flex;
	position: relative;
	padding-top: 8px;
	padding-bottom: 8px;
	z-index: 10;
}

.main-nav__list{
	display: flex;

	&>li{
		position: relative;
		border-right: 1px solid #dee3e5;

		&:last-child{
			border-right: none;
		}

		&>a{
			display: flex;
			align-items: center;
			width: 100%;
			text-align: center;
			padding: 0 30px;
			height: 40px;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1;
			white-space: nowrap;
			transition: all 0.3s ease;
			@include res(xl){
				padding: 0 15px;
			}

			&:hover{
				color: $pink;
			}

			.i-menu{
				font-size: 28px;
				margin-right: 4px;
			}

			&.current{
				color: $green-dark;
			}
		}

		&.main-nav__services-root{

			a{
				position: relative;
				text-align: left;
				padding-left: 0;
				color: $pink;
				cursor: pointer;

				&:hover{
					color: $pink;
				}

				&:after{
					content: '';
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 5px 4px 0 4px;
					border-color: #ff5275 transparent transparent transparent;
					display: inline-block;
					vertical-align: middle;
					position: relative;
					top: 0;
					margin-left: 7px;
				}
			}

			&.active{
				a{
					color: $pink;
				}
			}
		}
	}
}

.main-nav__has-sub{
	position: relative;

	&>a,&>span{
		position: relative;

		&:after{
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 4px 0 4px;
			border-color: currentcolor transparent transparent transparent;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: 0;
			margin-left: 7px;
		}

		&:before{
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: 8px;
			display: block;
		}
	}
	
	&.active{
		.main-nav__sub{
			opacity: 1;
			visibility: visible;
			transform: none;
		}
	}
}

.main-nav__sub{
	display: flex;
	position: absolute;
	top: calc(100% + 8px);
	left: 0;
	background: #e3edf6;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
	box-shadow: $shadow-block;
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease;
	transform: translate3d(0,-10px,0);
	z-index: 10;
}

.main-nav__sub-menu{

	li{
		display: block;
	}

	a{
		display: block;
		position: relative;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 0.1em;
		line-height: 1;
		padding: 14px 20px;
		transition: all 0.3s ease;
		white-space: nowrap;
		
		&:hover{
			background: #FFF;
		}
	}
}


//main-nav__sub-doctors
.main-nav__sub-doctors{
	padding: 10px 0;
	@media (max-height: 700px) {
		padding: 4px 0;
	}

	li{
		display: block;
	}
}

.sub-menu-doctor{
	display: flex;
	align-items: flex-start;
	padding: 5px 15px;
	transition: background 0.3s ease;
	width: 400px;
	@media (max-width: 1200px){
		width: 320px;
	}
	@media (max-height: 700px) {
		padding: 7px 15px;
	}

	&:hover{
		background: #FFF;
	}
}

.sub-menu-doctor__img{
	flex-shrink: 0;
	margin-right: 10px;
	border-radius: 50%;
	@media (max-height: 700px) {
		width: 30px;
		height: 30px;
	}
}

.sub-menu-doctor__info{
	padding-top: 4px;
	@media (max-height: 700px) {
		padding-top: 0;
	}
	
	strong{
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: 0.1em;
		line-height: 1.1;
		margin-bottom: 4px;
		@media (max-height: 700px) {
			margin-bottom: 1px;
		}
	}
	
	small{
		display: block;
		font-size: 15px;
		line-height: 1.1;
		color: $gray-text;
	}
}
//main-nav__sub-doctors


//main-nav-callback
.main-nav-callback{
	position: relative;
	margin-left: auto;
}

.main-nav-callback__btn{
	display: inline-flex;
	align-items: center;
	position: relative;
	border: 1px solid $pink;
	background: transparent;
	color: $pink;
	font-size: 15px;
	font-weight: normal;
	height: 40px;
	padding: 0 40px 0 15px;
	border-radius: 20px;
	cursor: pointer;
	white-space: nowrap;
	transition: all 0.3s ease;

	&:focus{
		outline: none;
	}

	&:hover{
		background: $pink;
		color: #FFF;
		border-color: $pink;

		&:after{
			border-color: #FFF transparent transparent transparent;
		}
	}

	.i{
		font-size: 26px;
		margin-right: 10px;
	}

	&:after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 4px 0 4px;
		border-color: #ff5275 transparent transparent transparent;
		position: absolute;
		top: 18px;
		right: 15px;
		transition: all 0.3s ease;
	}
}

.main-nav-callback__panel{
	padding-top: 8px;
	position: absolute;
	right: 0;
	top: calc(100% + 8px);
	background: #e3edf6;
	box-shadow: $shadow-block;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
	width: 250px;
	transition: all 0.3s ease;
	transform: translate3d(0,-8px,0);
	opacity: 0;
	visibility: hidden;
	
	&.active{
		opacity: 1;
		visibility: visible;
		transform: none;
	}
}

.callback-link{
	display: flex;
	align-items: center;
	position: relative;
	padding: 10px 8px;
	background: #e3edf6;
	border-bottom: 1px solid #a7bfc6;
	border-top: 1px solid #a7bfc6;
	margin-top: -1px;

	&:last-child{
		border-bottom: none;
	}

	&:first-child{
		border-top: none;
	}

	&:hover{
		z-index: 2;
		background: #FFF;
		border-color: #FFF;
		color: $pink;

		.callback-link__icon{
			opacity: 1;
			filter: none;
		}
	}

	&__icon{
		width: 42px;
		flex-shrink: 0;
		text-align: center;
		filter: grayscale(100%);
		opacity: 0.4;
	}

	span{
		font-weight: bold;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.1em;
		line-height: 1;
	}
}
//main-nav-callback


//services-menu
body{
	.pb-header{
		z-index: 200;
	}

	&:before{
		content: '';
		position: fixed;
		z-index: 100;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: transparentize(#000915,0.3);
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s ease;
	}

	&.overlayed{
		&:before{
			visibility: visible;
			opacity: 1;
		}
	}
}

.services-menu{
	display: flex;
	align-items: stretch;
	background: #FFF;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 35px 35px 0 rgba(0,0,0,0.1);
	max-width: $container_width - 32px;
	top: 100%;
	left: 16px;
	right: 16px;
	margin: auto;
	overflow: auto;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transform: translate3d(0,-20px,0);
	transition: all 0.3s ease;

	&.active{
		transform: none;
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
}

.services-menu__aside{
	background: #e3edf6;
	width: 240px;
	flex-shrink: 0;
	padding-top: 35px;
	padding-bottom: 35px;
}

.services-menu__category-link{
	display: flex;
	align-items: center;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.1;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	min-height: 44px;
	padding: 4px 35px 4px 8px;
	border-bottom: 1px solid #a7bfc6;
	border-top: 1px solid #a7bfc6;
	margin-top: -1px;

	&:last-child{
		border-bottom: 1px solid transparent;
	}
	
	&:hover{
		background: #FFF;
		border-color: #FFF;
		z-index: 2;
	}

	&.active{
		background: #FFF;
		border-color: #FFF;
		color: $pink;
		z-index: 2;

		&:before{
			filter: none;
			opacity: 1;
		}

		&:after{
			color: $pink;
		}
	}

	&:after{
		content: '\e906';
		font-family: $font-icon;
		font-size: 10px;
		height: 10px;
		position: absolute;
		right: 10px;
		top: 0;
		bottom: 0;
		margin: auto;
		color: #a7bfc6;
	}

	&:before{
		content: '';
		width: 36px;
		height: 36px;
		margin-right: 6px;
		display: block;
		background-position: center center;
		background-repeat: no-repeat;
		filter: grayscale(1);
		opacity: 0.3;
	}
	
	&--1:before{background-image: url('../img/header/services-1.svg');}
	&--2:before{background-image: url('../img/header/services-2.svg');}
	&--3:before{background-image: url('../img/header/services-3.svg');}
	&--4:before{background-image: url('../img/header/services-4.svg');}
	&--5:before{background-image: url('../img/header/services-5.svg');}
	&--6:before{background-image: url('../img/header/services-6.svg');}
	&--7:before{background-image: url('../img/header/services-7.svg');}
	&--8:before{background-image: url('../img/header/services-8.svg');}
}

.services-menu__main{
	padding: 20px 30px 10px 30px;
	flex: 1 1 auto;
	overflow: auto;
}

.services-menu-category{
	display: none;

	&.active{
		display: block;
	}
}

.services-menu-category__title{
	font-weight: 300;
	font-size: 30px;
	line-height: 1.1;
	padding-bottom: 10px;
	display: block;
	border-bottom: 2px solid $green-dark;
}

.services-menu-categoory__all{
	padding-top: 15px;

	a{
		display: block;
		transition: all 0.3s ease;
		margin-bottom: 10px;
		line-height: 1.2;

		&:hover{
			color: $pink;
		}

		&.current{
			color: $green;
		}
	}
}

.services-menu-category__list{
	padding-left: 15px;
	margin-bottom: 20px;
	
	a{
		color: #565656;
		font-size: 16px;
		margin-bottom: 7px;
	}
}

.services-menu__close{
	position: absolute;
	top: 25px;
	right: 30px;
	cursor: pointer;
	width: 24px;
	height: 24px;
	border: none;
	@include res(s) {
		top: 5px;
		right: 5px;
	}

	&:before, &:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -1px;
		margin-left: -7px;
		width: 14px;
		height: 2px;
		background: $black;
		transition: all 0.3s ease;
		border-radius: 0;
	}

	&:hover:before, &:hover:after {
		background-color: $pink;
	}

	&:before {
		transform: rotate(-45deg);
	}

	&:after {
		transform: rotate(45deg);
	}

	&:focus {
		outline: none;
		&:before, &:after {
			outline: none;
		}
	}
}
//services-menu