.pop-message{
	position: fixed;
	bottom: 20px;
	z-index: 30;
	left: 0;
	background: #FFF;
	border-radius: 10px 0 10px 10px;
	width: 330px;
	max-width: calc(100% - 15px);
	box-shadow: $shadow-block;
	visibility: hidden;
	opacity: 0;
	transform: translate3d(-20px,20px,0);
	transition: all 0.3s ease;

	&.active{
		visibility: visible;
		opacity: 1;
		transform: none;
	}
}

.pop-message__link{
	display: flex;
	align-items: flex-start;
	padding: 15px 25px 15px 15px;

	&:hover{
		.h5{
			color: $pink;
		}
	}

	figure{
		width: 35px;
		height: 35px;
		flex-shrink: 0;
		border-radius: 50%;
		margin-right: 15px;

		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}

	.h5{
		display: block;
		margin-bottom: 5px;
		transition: color 0.3s ease;
	}

	small{
		display: block;
		font-size: 14px;
		color: $gray-text;
		line-height: 1.3;
	}

	.button{
		margin-top: 10px;
		font-size: 12px;
		padding: 10px 20px;
	}
}

.pop-message__close{
	@include cross;
	background: transparent;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	z-index: 5;

	&:after,&:before{
		background: $gray-text;
	}
}