.s-cases{
	overflow: hidden;

	.sec-title-descr{
		margin-bottom: 30px;
		@include res(s){
			margin-top: -20px;
		}

		.link-arrow{
			@include res(s){
				font-size: 14px;
			}

			&:hover{
				color: $green;
			}
		}
	}
}


//thumbs
.cases-thumbs{
	overflow: visible;
	user-select: none;
	z-index: 2;

	&:after{
		content: '';
		position: absolute;
		border: 1px solid $green;
		border-radius: 10px;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 128px;
		bottom: 0;
		pointer-events: none;
		z-index: 3;
		@include res(l){
			width: 90px;
		}
	}
}

.cases-thumbs__nav{
	width: 128px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	margin: auto;
	@include res(l){
		width: 90px;
	}
}

.cases-thumbs__item{
	position: relative;
	width: 128px;
	cursor: pointer;
	padding: 10px;
	@include res(l){
		width: 90px;
	}

	&:hover{
		.cases-thumbs__color{
			opacity: 1;
		}
	}

	img{
		display: block;

		&.cases-thumbs__color{
			position: relative;
			z-index: 2;
			border-radius: 10px;
			display: block;
			width: 100%;
			height: auto;
			opacity: 0;
			transition: opacity 0.3s ease;
			transform: translate3d(0,0,0);
		}

		&.cases-thumbs__bw{
			position: absolute;
			z-index: 1;
			top: 10px;
			left: 10px;
			filter: grayscale(100%);
			width: calc(100% - 20px);
			height: auto;
			border-radius: 10px;
			box-shadow: $shadow-block;
		}
	}

	&.swiper-slide-active{
		.cases-thumbs__color{
			opacity: 1;
		}
	}
}
//thumbs


//cases
.cases-wrap{
	display: flex;
	padding-top: 45px;
	@include res(m){
		flex-direction: column;
		align-items: center;
	}
	@include res(m){
		padding-top: 30px;
	}
}

.cases{
	flex: 1 1 auto;
	position: relative;
}

.case{
	display: flex;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	overflow: hidden;
	@include res(m){
		flex-direction: column-reverse;
		align-items: center;
	}

	&.active{
		position: relative;
		z-index: 2;
		opacity: 1;
		visibility: visible;
		
		.case__left{
			transform: none;
		}
		.case__center{
			transform: none;
		}
	}
}

.case__left{
	flex-shrink: 0;
	width: calc(100% / 3);
	transition: all 0.5s ease;
	transform: translate3d(-400px,0,0);
	@include res(m){
		width: 100%;
		text-align: center;
	}
}

.case__center{
	align-self: flex-end;
	position: relative;
	flex-shrink: 0;
	width: calc(100% / 3 * 2);
	text-align: center;
	padding: 0 20px;
	transform: scale3d(0.7,0.7,1);
	transition: all 0.5s ease;
	@include res(m){
		width: 100%;
		display: block;
		margin-bottom: 15px;
	}
}

.case__cite{
	font-style: italic;
	font-size: 18px;
	line-height: 1.3;
	margin-bottom: 10px;
	font-weight: 300;
	@include res(m){
		display: none;
		font-size: 14px;
		font-weight: normal;
	}
}

.case__hwo{
	font-weight: bold;
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 3px;
}

.case__city{
	color: $gray-text;
	line-height: 1.2;
}

.case__more-btn{
	margin-top: 30px;
	@include res(m){
		margin-top: 15px;
	}
}

.case__before{
	display: block;
	margin-top: 30px;
	@include res(m){
		display: none;
	}

	img{
		display: block;
		max-width: 100%;
		max-height: 198px;
		height: auto;
		border-radius: 20px;
	}
}

.case__before-mob{
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
	@include res(m){
		display: block;
	}

	img{
		width: 100%;
		height: auto;
		display: block;
		border-radius: 10px;
	}
}

.case__after{
	width: 100%;
	@include res(m){
		width: 100%;
	}

	img{
		max-width: 100%;
		height: auto;
		border-radius: 0 0 50% 50% / 0 0 15% 15%;
	}
}


.cases-form{
	z-index: 2;
	flex-shrink: 0;
	width: 320px;
	max-width: 100%;
	@include res(m){
		width: 100%;
		max-width: 500px;
		margin-top: 30px;
	}
}

.cases-form__title{
	margin-bottom: 20px;
	text-align: center;
}

.cases-form__triggers{
	margin-top: 20px;
}
//cases


//cases modal
.case-modal{
	width: 930px;
	text-align: center;
	@include res(xl){
		width: 600px;
	}
}

.case-modal__title{
	margin-bottom: 0.5em;
	@include res(xl){
		font-size: 24px;
	}
	@include res(s){
		font-size: 18px;
	}
}

.case-modal__video{
	display: block;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	margin-bottom: 10px;

	&:hover{
		&:after{
			background: rgba(0,0,0,0.4);
		}
		.play-btn{
			background: $green;

			&:before{
				border-color: $green;
			}
		}
	}

	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0,0,0,0.2);
		z-index: 2;
		transition: all 0.3s ease;
	}

	img{
		display: block;
		position: relative;
		z-index: 1;
		width: 100%;
		height: auto;
	}

	.play-btn{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		z-index: 3;
		width: 64px;
		height: 64px;
		border-radius: 10px;
		@include res(s){
			width: 40px;
			height: 40px;
			border-radius: 6px;
		}

		&:before{
			top: -8px;
			left: -8px;
			right: -8px;
			bottom: -8px;
			border-radius: 10px;
			@include res(s){
				top: -4px;
				left: -4px;
				right: -4px;
				bottom: -4px;
				border-radius: 6px;
			}
		}
	}
}

.case-modal__order{
	background: #f8fbfc;
	border: 1px solid $pink;
	border-radius: 15px;
	padding: 20px 30px;
	margin-top: 10px;
	@include res(xl){
		padding: 10px 20px;
	}
	@include res(s){
		border-radius: 0;
		margin-left: -20px;
		margin-right: -20px;
		border-left: none;
		border-right: none;
	}
}

.case-modal__order-title{
	margin-bottom: 0.7em;
	@include res(xl){
		font-size: 20px;
	}
	@include res(s){
		font-size: 16px;
	}
}

.case-modal__form{
	margin-bottom: 10px;
	position: relative;

	.input-text{
		width: 100%;
	}

	.button{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 4px;
		@include res(xs){
			position: relative;
			bottom: initial;
			margin-top: 5px;
			width: 100%;
		}
	}
}

.case-modal__note{
	font-size: 14px;
	line-height: 1.2;
	@include res(s){
		font-size: 12px;
	}
}
//cases modal