.slider-arrow{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 42px;
	height: 42px;
	cursor: pointer;
	z-index: 5;
	-webkit-tap-highlight-color: transparent;
	@include res(l){
		width: 32px;
		height: 32px;
	}

	&:hover{
		outline: none;

		&:before{
			background: $pink;
		}

		&:after{
			transform: rotate(45deg) scale(1.2);
			border-color: $pink;
		}
	}

	&:focus{
		outline: none;
	}

	&--prev{
		left: -20px;
		@include res(l){
			left: -15px;
		}
	}

	&--next{
		right: -20px;
		@include res(l){
			right: -15px;
		}
	}

	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: $green;
		border-radius: 5px;
		z-index: 1;
		transform: rotate(45deg);
		transition: all 0.3s ease;
	}

	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border: 1px solid $green;
		z-index: 1;
		transform: rotate(45deg);
		border-radius: 5px;
		transition: all 0.3s ease;
	}
	
	.i{
		position: relative;
		z-index: 2;
		color: #FFF;
		font-size: 18px;
		@include res(l){
			font-size: 14px;
		}
	}
}

.swiper-container-horizontal > .swiper-pagination-bullets{

	@include res(s){
		bottom: 5px;
		text-align: right;
		padding-right: 15px;
	}

	.swiper-pagination-bullet{
		width: 14px;
		height: 14px;
		margin: 0 9px;
		border: 1px solid $green;
		background: #FFF;
		opacity: 1;
		transform: rotate(45deg);
		border-radius: 2px;
		transition: all 0.3s ease;
		@include res(s){
			width: 10px;
			height: 10px;
			margin: 0 4px;
		}

		&.swiper-pagination-bullet-active{
			background: $pink;
			border: $pink;
		}

		&:focus{
			outline: none;
		}

		&:hover{
			border: 1px solid $pink;
		}
	}
}