.s-top-panel{
	background: $bg-color;
	position: relative;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #f4f8f9;
	z-index: 51;
	@include res(l){
		padding: 10px 0;
	}

	.top-panel__prizes{
		@include res(l){
			display: none;
		}
	}

	.top-panel__socials{
		margin-left: auto;
		margin-right: 35px;
		@include res(m){
			display: none;
		}
	}

	.top-panel__links{
		@include res(l){
			display: none;
		}
	}

	.top-panel__contacts{
		@include res(m){
			margin-left: auto;
		}
	}

	.top-panel__cont{
		@include res(s){
			display: none;
		}
	}
}

.top-panel{
	display: flex;
	align-items: center;
	@include res(l){
		padding-right: 70px;
	}
}

.top-panel__logo{
	margin-right: 20px;
	flex-shrink: 1;
}

.top-panel__logo-pc{
	max-width: 100%;
	height: auto;
	display: block;
}

.top-panel__logo-mob{
	max-width: 100%;
	height: auto;
	display: none;
}

.top-panel__prizes{
	display: flex;

	a{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 48px;
		height: 48px;
		border-radius: 50%;
		background: #e5f0f8;
		margin-right: 8px;
		transition: all 0.3s ease;

		&:hover{
			background: $green;
		}
	}
}

.top-panel__socials{
	display: flex;
	@include res(xl){
		margin-right: 20px;
	}

	a{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 26px;
		height: 26px;
		border-radius: 13px;
		color: #9ab5ca;
		border: 2px solid currentcolor;
		font-size: 14px;
		margin: 0 3px;
		transition: color 0.3s ease;

		&:hover{
			color: $pink;
		}
	}
}

.top-panel__links{
	display: flex;
}

.top-panel__link{
	display: flex;
	align-items: center;
	font-weight: normal;
	flex-shrink: 0;
	white-space: nowrap;
	margin-right: 35px;
	transition: all 0.3s ease;
	@include res(xl){
		margin-right: 20px;
	}

	&:hover{
		color: $pink;

		.i{
			color: $pink;
		}
	}

	.i{
		color: #9ab5ca;
		font-size: 23px;
		margin-right: 4px;
		transition: all 0.3s ease;
	}
}

.top-panel__contacts{
	display: flex;
}

.top-panel__cont{
	font-size: 14px;
	margin-right: 50px;
	line-height: 1;
	@include res(l){
		margin-right: 30px;
		font-size: 12px;
	}

	&:last-child{
		margin-right: 0;
	}

	strong{
		white-space: nowrap;
		display: block;
		line-height: 1.4;
		font-weight: bold;
		font-size: 20px;
		@include res(l){
			font-size: 16px;
		}
	}
}

.top-panel__cont-mob{
	display: none;
	font-size: 24px;
	color: #FFF;
	line-height: 1;
	background: $green;
	width: 40px;
	height: 40px;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	@include res(s){
		display: flex;
	}

	span{
		display: block;
	}
}

.top-panel__online{
	position: relative;

	&:before{
		content: '';
		width: 6px;
		height: 6px;
		border-radius: 3px;
		background: $green;
		position: absolute;
		left: -14px;
		top: 0.55em;
	}
}